{% extends "Ui\base.html" %}
{% load static %}
{% block content %}
<head>


    <link rel="stylesheet" href="">

</head>
<!-- <p>{% if municipio %}asdads</p>
{% endif %} -->


<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

      <section>
        <div class="href-target" id="structure"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
            <polygon points="12 2 2 7 12 12 22 7 12 2" />
            <polyline points="2 17 12 22 22 17" />
            <polyline points="2 12 12 17 22 12" />
          </svg>
          Convenios
        </h1>
      
  
        <div class="nice-form-group">
          <label>Nombre convenio</label>
          <input type="text" name="nombre" placeholder="Convenio1" />
        </div>
  
        <div class="nice-form-group">
          <label>Descripcion Convenio</label>          
          <input type="text" name="descripcion" placeholder="Descripcion Convenio1" />
        </div>
  
        <div class="nice-form-group">
          <label>Total Convenio</label>
          <input type="number" name="total" placeholder="Monto Convenio ej: $100.000.000" />          
        </div>

        <div class="nice-form-group">
            <label>Documento convenio</label>
            <input type="file" name="documento" placeholder="Ingresar Documento" />          
        </div>

    
        Municipio 
        <select name="municipio" id="municipio">
          {% for mun in municipio %}
            <option  value="{{ mun.id }}">{{ mun.nombre }} </option>
          {% endfor %}
        </select>

        <div>
          <button type="submit" name="submit">agregar convenio</button>
        </div>
  
       
      </section>
</form>
{% endblock %} 