{% extends "Ui\base.html" %}
{% load static %}


{% block content %}


<head >

    <link rel="stylesheet" href="{% static 'css/dm.css' %}">
</head>
<h1> Municipio: {{municipio.nombre}}</h1>





<div class="d-flex justify-content-between align-items-center px-4 ">
    <!-- Botón a la izquierda -->
    <!-- <button class="btn btn-primary" type="button">Agregar Municipio</button> -->
    <a class="button btn btn-primary"  href="{% url 'addConv' %}">Agregar convenios</a>
    
    <!-- Formulario a la derecha -->
    <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" name="buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<hr>
<br>

{% if convenios %}
<table>
    <thead>
        <tr>
           
            <th>nombre</th>
            <th>descripcion</th>
            <th>total</th>
            <!-- <th>documento</th>        -->
            <th>ver convenio</th>
            
            <th>mas opciones</th>
        </tr>
    </thead>    
    <tbody>
        {% for m in convenios %}
        <tr>
            
            <td>{{ m.nombre }}</td>
            <td>{{ m.descripcion }}</td>
            <td>{{ m.total }}</td>
            <!-- <td>{{ m.documento }}</td>             -->
            <td><a href="{{ m.documento.url }}" target="_blank">Abrir convenio</a></td>
                
            <td> <a href="{% url 'H_convenio' id=m.id  %}">Historial</a>/ <a href="{% url 'actualizar_Conv' id=m.id  %}">Editar</a>/<a href="{% url 'eliminar_Conv' id=m.id  %}">eliminar</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No hay convenios disponibles</td>
        </tr>
    </tbody>
</table>
{% endif %}



{% endblock %} 




