
{% extends "Ui\base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/ui3.css' %}">



<br>

<H6 style="margin-left: 100px;">Inicio /Programas /Pequeñas Localidades</H6>
<br>
<h3 style="margin-left: 100px;">
    Programa Pequeñas Localidades(PPL)
    
</h3>

<p style="margin-left: 200px; margin-right: 200px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos necessitatibus expedita labore aut officiis id delectus placeat ab unde iusto! Dolorem, sapiente exercitationem? Hic, ex. Repellat laudantium sapiente omnis quos?
    Soluta distinctio neque perspiciatis. A similique nemo optio distinctio minus amet? Illo sit modi numquam error dolore, nesciunt aliquam quis nam aliquid sint velit exercitationem deleniti cupiditate eligendi? Sint, delectus?
    Voluptatem expedita distinctio consectetur vitae iste nobis, nesciunt sapiente voluptatum cupiditate ipsum beatae modi numquam quam delectus minima eveniet recusandae deleniti soluta aliquam fuga ex dolore itaque laborum nemo.</p>
    
    <hr>
    
   
   

    <div class="d-flex justify-content-between align-items-center px-4 ">
        <!-- Botón a la izquierda -->
        <!-- <button class="btn btn-primary" type="button">Agregar Municipio</button> -->
        <a class="button btn btn-primary"  href="{% url 'Agregar_Mun' %}">Agregar Municipio</a>
        
        <!-- Formulario a la derecha -->
        <form class="d-flex" role="search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" name="buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    
    <div class="">
    {% if municipios_d %}
    </div>
    <p>{{ municipios_d|length }} registros encontrados</p>
    <table>
    <thead>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>rut</th>
            <th>cuenta</th>
            <th>detalles</th>
            <th>Opciones</th>    
        </tr>
    </thead>    
    <tbody>
        {% for m in municipios_d %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.nombre }}</td>
            <td>{{ m.rut }}</td>
            <td>{{ m.cuenta }}</td>
            <p>{{ municipio.nombre }}</p>
            <td> <a class="button" href="{% url 'md' id=m.id %}">Detalles</a></td>
            <td> <a href="{% url 'actualizar_Mun' id=m.id  %}">Editar</a>/<a href="{% url 'delete_mun' id=m.id  %}">eliminar</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No hay municipios disponibles</td>
        </tr>
    </tbody>
</table>
{% endif %}



{% endblock %} 